In [1]:
import pandas as pd

In [2]:
!dir .\files\train.csv

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: D207-B652

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-30  오후 04:12       200,589,097 train.csv
               1개 파일         200,589,097 바이트
               0개 디렉터리  72,930,938,880 바이트 남음

In [3]:
pd_data = pd.read_csv('./files/train.csv')
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [4]:
pd_data.shape

(1458644, 11)

In [5]:
pd_data.columns = ['id','vendor_id','pickup_datetime','dropoff_datetime','passenger_count','pickup_longitude',
                   'pickup_latitude','dropoff_longitude','dropoff_latitude','store_and_fwd_flag','trip_duration']

In [8]:
import numpy as np

In [9]:
# 컬럼 가공
pd_data['dif_longitude'] = np.abs(pd_data['pickup_longitude'] - pd_data['dropoff_longitude'])

In [10]:
pd_data['dif_latitude'] = np.abs(pd_data['pickup_latitude'] - pd_data['dropoff_latitude'])

In [23]:
pd_data['dist'] = np.abs(pd_data['dif_longitude'] + pd_data['dif_latitude'])

In [12]:
#컬럼 선택
x= pd_data[['dif_longitude','dif_latitude','dist']]

In [35]:
# data = pd_data[['dif_longitude','dif_latitude','dist','trip_duration']]

ValueError: This sheet is too large! Your sheet size is: 1458644, 4 Max sheet size is: 1048576, 16384

In [13]:
y= pd_data[['trip_duration']]

In [14]:
x.shape, y.shape

((1458644, 3), (1458644, 1))

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
# 데이터 split
x_train, x_test, y_train, y_test = train_test_split(x,y)
x_train.shape, x_test.shape, y_train.shape , y_test.shape

((1093983, 3), (364661, 3), (1093983, 1), (364661, 1))

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr = LinearRegression()

In [20]:
# 교육
lr.fit(x,y)

LinearRegression()

In [21]:
lr.coef_, lr.intercept_

(array([[ 1.17445246e+14,  1.17445246e+14, -1.17445246e+14]]),
 array([582.00252942]))

In [24]:
#모델 점수
lr.score(x,y)

0.008983277593497041

In [25]:
# check with a part train data
lr.score(x_train,y_train)

0.0072444139868810264

In [26]:
# check with a part of test data
lr.score(x_test,y_test)

0.02678581075854969

In [28]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [29]:
import pickle

In [30]:
pickle.dump(lr, open('./saves/newyork_taxi.pkl','wb'))

In [32]:
y_predict = lr.predict(x_train)
y_predict.shape, y_train.shape

((1093983, 1), (1093983, 1))

In [33]:
y_result = y_predict - y_train
y_result

         trip_duration
717143    -1112.094150
54665       333.225430
1141455      62.266201
812107      565.225857
682140      362.760586
...                ...
234758      308.572354
399961     -517.292392
251372      309.424616
212289      474.079739
620199      161.849623

[1093983 rows x 1 columns]

In [34]:
lr.score(x_train,y_train)

0.0072444139868810264